<% include ./header.ejs %>
<div class="container col-lg-12 col-md-12 col-sm-12">
    <div class="login-form">
      <form name="form1" action="" method="post">
        <input oninput="confirm()" type="text" name="username" id="username" class="text-field" placeholder="아이디"><br>
        <input oninput="confirm()" type="text" name="displayname" id="displayname" class="text-field" placeholder="이름"><br>
        <input oninput="confirm()" type="password" name="password" id="password" class="text-field" placeholder="비밀번호" style="IME-MODE:inactive"><br>
        <input oninput="confirm()" type="text" name="phonenumber" id="phonenumber" class="text-field" placeholder="전화번호"><br>
        <input oninput="confirm()" type="email" name="email" id="email" class="text-field" placeholder="이메일"><br>
        <input type="button" value="회원가입" id="register-btn">
      </form>
      <div class="links">
        <a href="/password" id="p">비밀번호를 잊어버리셨나요?</a>
      </div>
    </div>
</div>
<script>
  function confirm(){
      if($('#password').val() == "" || $('#username').val() == "" ||
        $('#phonenumber').val() == "" || $('#email').val() == "" ||
        $('#displayname').val() == ""){
        $("#register-btn").css({"background-color":"#9B9B9B"});
        $("#register-btn").attr("disabled",true);
      }else{
        $("#register-btn").css({"background-color":"#1BBC9B"});
        $("#register-btn").attr("disabled",false);
      }
    }
  function confirm2(){
    if($('#check-input').val() == ""){
      $("#check-btn").css({"backgroundColor":"#9B9B9B"});
      document.getElementById("check-btn").style.backgroundColor="#9B9B9B";
      document.getElementById("check-btn").disabled = true;
    }else{
      document.getElementById("check-btn").style.backgroundColor="#1BBC9B";
      document.getElementById("check-btn").disabled = false;
    }
  }
  $("#register-btn").click(function(){
    $.ajax({
      type:"POST",
      url:"/register/signup",
      data:{
        "username":$("#username").val(),
        "displayname":$("#displayname").val(),
        "password":$("#password").val(),
        "phonenumber":$("#phonenumber").val(),
        "email":$("#email").val()
      },
      success:function(data){
        alert(data.message);
        location.href="/";
      },
      fail:function(){
        alert("서버에 문제가 생겼습니다.\n잠시 후 다시 시도해주세요.")
      }
    })
  })
  $("#check-btn").click(function(){
    $.ajax({
      type:"POST",
      url:"/register/idcheck",
      data:$("#form2").serialize(),
      success:function(data){
        console.log(data);
        if(data){
          alert("가입이 불가능합니다.")
        }else{
          alert("가입이 가능합니다.")
        }
      },
      fail:function(){
        console.log("통신실패");
      },
      beforeSend:function(){
        console.log("데이터보내기 전");
      },
      complete:function(){
        console.log("ajax완료");
      }
    })
  });
  
</script>
<% include ./footer.ejs%>